# 17. pivot과 pivot_table 함수의 이해 및 활용

#### pivot
- dataframe의 형태를 변경하는 것으로, 
- 인덱스, 컬럼, 데이터로 사용할 컬럼을 각각 명시하는 것. 
- df.pivot(index=None, columns=None, values=None)

In [7]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [11]:
df = pd.DataFrame({
    '지역': ['서울', '서울', '서울', '경기', '경기', '부산', '서울', '서울', '부산', '경기', '경기', '경기'],
    '요일': ['월요일', '화요일', '수요일', '월요일', '화요일', '월요일', '목요일', '금요일', '화요일', '수요일', '목요일', '금요일'],
    '강수량': [100, 80, 1000, 200, 200, 100, 50, 100, 200, 100, 50, 100],
    '강수확률': [80, 70, 90, 10, 20, 30, 50, 90, 20, 80, 50, 10]
                  })

df

    지역   요일   강수량  강수확률
0   서울  월요일   100    80
1   서울  화요일    80    70
2   서울  수요일  1000    90
3   경기  월요일   200    10
4   경기  화요일   200    20
5   부산  월요일   100    30
6   서울  목요일    50    50
7   서울  금요일   100    90
8   부산  화요일   200    20
9   경기  수요일   100    80
10  경기  목요일    50    50
11  경기  금요일   100    10

In [12]:
#지역을 인덱스로, 아니면 요일을 인덱스로,, 이렇게 변형하고 싶은 경우 df.pivot(index=None, columns=None, values=None)
df.pivot(index = '요일', columns = '지역', values = '강수량')

지역      경기     부산      서울
요일
금요일  100.0    NaN   100.0
목요일   50.0    NaN    50.0
수요일  100.0    NaN  1000.0
월요일  200.0  100.0   100.0
화요일  200.0  200.0    80.0

#### pivot_table

In [13]:
df.pivot_table(df, index = '요일', columns = '지역', aggfunc = np.mean) #중복되는 것은 평균값으로 생성하겠다.

       강수량                 강수확률
지역      경기     부산      서울    경기    부산    서울
요일
금요일  100.0    NaN   100.0  10.0   NaN  90.0
목요일   50.0    NaN    50.0  50.0   NaN  50.0
수요일  100.0    NaN  1000.0  80.0   NaN  90.0
월요일  200.0  100.0   100.0  10.0  30.0  80.0
화요일  200.0  200.0    80.0  20.0  20.0  70.0